<nav class="menu">
  <div class="menu-logo">SurfTracker</div>

  <div class="menu-links">
    <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
      Inicio
    </a>

    <a *ngIf="!isLoggedIn" routerLink="/registrar-usuario" routerLinkActive="activo">
      Registrar usuario
    </a>

    <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="activo">
      Login
    </a>

    <a *ngIf="isLoggedIn && isAdmin" routerLink="/registrar-localizacion" routerLinkActive="activo">
      Registrar localización
    </a>

    <a *ngIf="isLoggedIn" href="javascript:void(0)" (click)="irAListaLocalizaciones()">
      Lista de Localizaciones
    </a>

    <a *ngIf="isLoggedIn && isAdmin" routerLink="/registrar-pronostico" routerLinkActive="activo">
      Registrar Pronóstico
    </a>

    <a *ngIf="isLoggedIn" routerLink="/lista-pronostico" routerLinkActive="activo">
      Consultar Pronósticos
    </a>

    <a *ngIf="isLoggedIn" routerLink="/favoritos" routerLinkActive="activo">
      Favoritos
    </a>

    <a *ngIf="isLoggedIn" routerLink="/feedback" routerLinkActive="activo">
      Feedback
    </a>

    <a *ngIf="isLoggedIn" routerLink="/notificaciones" routerLinkActive="activo">
      Notificaciones
    </a>

    <a *ngIf="isLoggedIn" routerLink="/preferencias" routerLinkActive="activo">
      Preferencias
    </a>

    <a *ngIf="isLoggedIn" href="javascript:void(0)" (click)="cerrarSesion()">
      Cerrar sesión
    </a>
  </div>
</nav>