<nav class="menu">
  <div class="menu-logo">SurfTracker</div>

  <div class="menu-links">
    <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    <a routerLink="/registrar-cliente" routerLinkActive="activo">Registrar cliente</a>
    <a routerLink="/registrar-localizacion" routerLinkActive="activo">Registrar localización</a>
    <a routerLink="/registrar-pronostico" routerLinkActive="activo">Registrar Pronóstico</a>
    <a routerLink="/lista-pronostico" routerLinkActive="activo">Consultar Pronósticos</a>
  </div>
</nav>